$base01: #111822;
$base01: #323a45;
$base03: #404753;

$foreground-ink: #d2cbbd;
$foreground-dark: #aca597;

$yellow: #eeed88;
$organge: #fd9100;
$red: #ff0075;
$magenta: #ff7dff;
$blue: #00c6ff;
$green: #00d56c;
